.weather-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
}

h2 {
    font-size: 2erm;
}

.weather-info {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 70px;
    }
}

.temperature {
    font-weight: bold;
    font-size: 2.5rem;
}

.description {
    text-transform: capitalize;
    font-size: 1.3rem;
    margin-bottom: 10px;
}


.details {
    display: flex;
    justify-content: space-evenly;
}